body {
  background-size: cover;
}
.note{
    font-size: 15px;
    color: black;
}
.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
}
.canvas{
    background-color:#000000;
    border: 5px solid white;
    border-radius: 100px;
    box-shadow: 5px  5px 5px #73cfd8;
}